@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&family=Questrial&family=Staatliches&family=Yellowtail&display=swap');

.price-form {
    margin: 100px 100px 50px 100px;
    padding: 30px 20px;
    background-color: rgba(220, 161, 119, 0.8);
    border-radius: 5px;
    position: relative;
    z-index: 1;
}
.price-form::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("/src/Assets/grey-background.jpg") no-repeat;
    background-size: cover;
    z-index: -1;
    opacity: 0.5;
}
.price-form-title {
    font-size: 2.5em;
    margin-bottom: 30px;
    font-family: "Staatliches", sans-serif;
    text-align: center;
}
.price-list-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.price-icon-img {
    width: 30px;
    height: 30px;
    background-color: #d5c0c5;
    border-radius: 50px;
    padding: 5px;
    margin-right: 10px;
}
.label-category {
    width: 100%;
    font-family: "Yellowtail", cursive;
    font-size: 2em;
    margin-bottom: 5px;
    padding: 10px 0 0 20px;
    display: flex;
    align-items: center;
}
.price-container {
    width: 650px;
    background-color: rgba(239, 233, 233, 0.7);
    border-radius: 5px;
    margin-bottom: 10px;
}
.sub-category-list {
    list-style-type: none;
    padding: 0 20px;
}
.sub-category-item {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 5px 0;
    font-size: 1em;
}
.sub-category-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.sub-category {
    flex: 7;
    text-align: left;
    font-family: "Maven Pro", sans-serif;
    font-size: 1.5em;
}
.price {
    flex: 5;
    text-align: right;
    font-family: "Staatliches", sans-serif;
    font-size: 1.4em;
    color: #de940f;
}
.description-container {
    margin: 10px 0;
}
.description {
    font-size: 1.2em;
    color: #626161;
}

/*Mobile*/
@media (max-width: 768px) {
    .price-form {
        margin: 150px 0;
        width: 768px;
    }
    .price-list-container {
        justify-content: center;
        flex-wrap: wrap;
    }
    .price-container {
        width: 550px;
        margin: 8px;
    }
    .price-icon-img {
        width: 50px;
        height: 50px;

        border-radius: 50px;
        padding: 5px;
        margin-right: 10px;
    }
    .label-category {
        padding: 20px 0 0 30px;
        font-size: 2.5em;
    }
    .sub-category {
        flex: 3;
        text-align: left;
        font-family: "Maven Pro", sans-serif;
        font-size: 2em;
    }
    .price {
        flex: 3;
        text-align: right;
        font-family: "Staatliches", sans-serif;
        font-size: 1.7em;
        color: #d7a64a;
    }
    .description {
        font-size: 1.5em;
    }
}